header {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    i {
        font-size: 1.4rem;
        color: black;
        position: absolute;
            left: 20px;
            top: 20px;
    }
    h1 {
    margin: 10px 0 5px 0;
    text-align: center;
    color: black;

}
    .logo {
        display: flex;
        align-items: center;
        
    }
}


