@charset "UTF-8";
/* utils */
p {
  font-family: "Roboto", sans-serif;
}

h1,
h4 {
  font-family: "Shrikhand", cursive;
}

h2, h3, h5, h6 {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  margin: 0;
}

footer {
  background-color: #353535;
  color: white;
  width: 100%;
  height: 100%;
}
footer h4 {
  font-size: 1.3em;
  padding: 20px 0 0 20px;
  font-weight: lighter;
  margin: 0 auto;
}
footer ul {
  list-style: none;
  padding-left: 20px;
  margin: 0 auto;
}
footer li {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.9em;
  margin: 0;
}
footer p {
  margin: 0 0 10px 0;
}
footer i {
  padding-right: 10px;
}
footer a {
  color: white;
}

header {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}
header i {
  font-size: 1.4rem;
  color: black;
  position: absolute;
  left: 20px;
  top: 20px;
}
header h1 {
  margin: 10px 0 5px 0;
  text-align: center;
  color: black;
}
header .logo {
  display: flex;
  align-items: center;
}

/* Chargement de la page d'acceuil */
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  animation: loadinger 0.1s;
  animation-delay: 2s;
  animation-fill-mode: both;
}
@keyframes loadinger {
  100% {
    opacity: 1;
    z-index: -1;
  }
}
.loader #chargement {
  background: linear-gradient(to bottom right, #ffdff6, #9356DC);
  border-radius: 50%;
  box-shadow: 3px 3px 10px #99E2D0, -3px -3px 10px #99E2D0;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  -webkit-animation: spin 1s ease-in-out;
  animation: spin 1s ease-in-out;
  animation-iteration-count: 3;
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    border-radius: 0%;
  }
  50% {
    transform: rotate(280deg);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 25%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-radius: 25%;
  }
  50% {
    transform: rotate(280deg);
    border-radius: 100%;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 25%;
  }
}
.loader #textchargement {
  z-index: 2;
  font-size: 3em;
  -webkit-animation: fadeIn ease 3s, 2s slide-right 0s forwards;
  animation: fadeIn ease 3s, 2s slide-right 0s forwards;
  transform: translateX(-100%);
}
.loader #textchargement p {
  background: linear-gradient(to right, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-right {
  to {
    transform: translateX(0);
  }
}
@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}

.loadingacceuil {
  -webkit-animation: 3s ease 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* animation page restaurants */
.plat1 {
  z-index: 1;
  font-size: 1em;
  -webkit-animation: fadeIn ease 0.2s, 1s slide-top 0s forwards;
  animation: fadeIn ease 1s, 0.2s slide-top 0s forwards;
  transform: translateY(100%);
}

.plat2 {
  z-index: 1;
  font-size: 1em;
  -webkit-animation: fadeIn ease 2s, 200ms slide-top 200ms forwards;
  animation: fadeIn ease 2s, 200ms slide-top 200ms forwards;
  transform: translateY(100%);
}

.plat3 {
  z-index: 1;
  font-size: 1em;
  -webkit-animation: fadeIn ease 3s, 200ms slide-top 400ms forwards;
  animation: fadeIn ease 3s, 200ms slide-top 400ms forwards;
  transform: translateY(100%);
}

.plat4 {
  z-index: 1;
  font-size: 1em;
  -webkit-animation: fadeIn ease 4s, 200ms slide-top 600ms forwards;
  animation: fadeIn ease 4s, 200ms slide-top 600ms forwards;
  transform: translateY(100%);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slide-top {
  to {
    transform: translateY(50px);
  }
}
@keyframes slide-top {
  to {
    transform: translateY(0);
  }
}
/* localisation */
.localisation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  height: 50px;
  width: 100%;
}
.localisation i {
  color: #4c4c4c;
}
.localisation h3 {
  margin: 20px;
}

/* navigation */
nav {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav h2 {
  margin: 44px 0 27px 0;
  padding: 0 10% 0 10%;
  font-size: 1.5em;
  text-align: center;
  font-weight: 1000;
}
nav p {
  margin: 0 0 34px 0;
  padding: 0 5% 0 5%;
  font-size: 1.2em;
  text-align: center;
}

.btnexplorer {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
}

/* section fonctionnement */
#fonctionnementsite {
  background: white;
  padding: 20px;
}

.textfonctionnement1 {
  margin-left: 3%;
}

.fonctionnementdetails {
  width: 100%;
}

.fonctionnement {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 6% 6% 6%;
  padding: 2% 5% 2% 5%;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 3px 3px 10px lightgrey;
  font-weight: bold;
}

#fonctionnementsite .fonctionnement:hover i {
  color: #9356dc;
}

#fonctionnementsite i {
  padding: 0 25px 0 10px;
  color: #4c4c4c;
}

.fonctionnement:hover {
  background-color: #f5edff;
}

.cerleetape {
  position: absolute;
  left: 4%;
  color: white;
  background-color: #9356dc;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 0.8em;
}

/* liste des restaurants */
#restaurants {
  background-color: #f6f6f6;
  margin: 0;
  padding: 20px;
}
#restaurants h5 {
  font-size: 1em;
  color: black;
  margin: 10px 0 10px 14px;
}
#restaurants p {
  font-size: 0.9em;
  color: black;
  margin: 0 0 10px 14px;
}
#restaurants img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
#restaurants a {
  color: black;
  box-shadow: 3px 3px 20px #aaa;
  border-radius: 15px 15px 15px 15px;
  position: relative;
}
#restaurants .restaurantname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#restaurants .restaurantfav {
  display: flex;
  align-items: center;
}
#restaurants .fa-heart {
  font-size: 2em;
}

img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

#carte-alafrancaise {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  width: 100%;
  margin-top: -4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#carte-alafrancaise .titlerestaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 650px;
}
#carte-alafrancaise .listeplats {
  width: 100%;
  max-width: 650px;
}
#carte-alafrancaise .listeplats .carte {
  padding: 20px;
}
#carte-alafrancaise .restaurantfav {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
#carte-alafrancaise h1 {
  padding-left: 20px;
}
#carte-alafrancaise .fa-heart {
  font-size: 1.35em;
}
#carte-alafrancaise h2 {
  position: relative;
  font-size: 1em;
  margin-bottom: 20px;
}
#carte-alafrancaise h2::after {
  content: "";
  background-color: #99E2D0;
  position: absolute;
  width: 40px;
  left: 0;
  bottom: -7px;
  height: 3px;
}
#carte-alafrancaise .menu {
  margin: 0;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 3px 3px 20px #aaa;
  padding: 20px;
  margin-bottom: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#carte-alafrancaise .menu div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#carte-alafrancaise .menu div p {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9em;
  margin: 0;
}
#carte-alafrancaise .menu h3 {
  font-size: 1em;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#carte-alafrancaise .menu .price {
  display: flex;
  align-items: flex-end;
}
#carte-alafrancaise .menu .price p {
  padding-right: 20px;
  font-weight: bold;
  text-overflow: unset;
}
#carte-alafrancaise .menu .btncommander {
  margin: 30px 0 80px 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
}

/* rectangle nouveauté */
.nouveaute {
  background-color: #99E2D0;
  color: #278870;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.btn {
  margin: 0 0 57px 0;
  border-radius: 35px;
  border-style: none;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-size: 1em;
  color: white;
  font-weight: bold;
  height: 50px;
  padding: 0 20px 0 20px;
  box-shadow: 3px 3px 20px #aaa;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
}
.btn:hover {
  background: linear-gradient(to bottom right, #ffdff6, #c9abee);
}

.maingrid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1f;
  row-gap: 20px;
}

@media (min-width: 900px) and (max-width: 1023px) {
  /* acceuil */
  #fonctionnementsite {
    background: white;
    padding: 20px;
  }
  #fonctionnementsite .textfonctionnement1 {
    margin: 0 0 20px 0;
  }
  #fonctionnementsite .fonctionnementdetails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    width: 100%;
  }
  #fonctionnementsite .fonctionnement {
    margin: 0;
    padding: 10px 0 10px 10px;
    position: relative;
  }
  #fonctionnementsite .fonctionnement .cerleetape {
    left: -4%;
  }

  .maingrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }
}
@media (min-width: 1024px) {
  /* acceuil */
  #fonctionnementsite {
    background: white;
    padding: 20px;
  }
  #fonctionnementsite .fonctionnementsite {
    margin: 0 auto;
    max-width: 1024px;
  }
  #fonctionnementsite .textfonctionnement1 {
    margin: 0 0 20px 0;
    max-width: 1024px;
  }
  #fonctionnementsite .fonctionnementdetails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
  }
  #fonctionnementsite .fonctionnementdetails .fonctionnement {
    margin: 0;
    padding: 10px 0 10px 20px;
    position: relative;
  }
  #fonctionnementsite .fonctionnementdetails .fonctionnement .cerleetape {
    left: -4%;
  }

  /* liste des restaurants */
  #restaurants .restaurants {
    margin: 0 auto;
    max-width: 1024px;
  }
  #restaurants .maingrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }

  /* restaurants */
  .headerimg {
    max-height: 500px;
    height: auto;
  }

  #carte-alafrancaise {
    margin: auto;
    margin-top: -4rem;
  }
  #carte-alafrancaise .titlerestaurant {
    max-width: none;
  }
  #carte-alafrancaise .listeplats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    width: 100%;
    max-width: none;
  }
  #carte-alafrancaise .listeplats .carte {
    padding: 0;
    width: 30%;
  }
  #carte-alafrancaise .listeplats p {
    margin: 0;
  }

  .btncommander {
    z-index: 1;
    font-size: 1em;
    -webkit-animation: fadeIn ease 4s, 200ms slide-top 600ms forwards;
    animation: fadeIn ease 4s, 200ms slide-top 600ms forwards;
    transform: translateY(100%);
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes slide-top {
    to {
      transform: translateY(0);
    }
  }
  @keyframes slide-top {
    to {
      transform: translateY(0);
    }
  }
}
.restaurantfav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  width: -moz-fit-content;
  width: 60px;
  height: 70px;
}
.restaurantfav .fas {
  opacity: 0;
  transition-duration: 0.5s;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.far {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

input:checked ~ .far {
  transition-duration: 0.5s;
  opacity: 0;
}

input:checked ~ .fas {
  transition-duration: 0.5s;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
