/* apparition des plats */

.plat1 {
    z-index: 1;
    font-size: 1em;
    -webkit-animation: fadeIn ease 0.2s, 1s slide-top 0s forwards;
    animation: fadeIn ease 1s, 0.2s slide-top 0s forwards;
    transform: translateY(100%);
}

.plat2 {
    z-index: 1;
    font-size: 1em;
    -webkit-animation: fadeIn ease 2s, 200ms slide-top 200ms forwards;
    animation: fadeIn ease 2s, 200ms slide-top 200ms forwards;
    transform: translateY(100%);
}
.plat3 {
    z-index: 1;
    font-size: 1em;
    -webkit-animation: fadeIn ease 3s, 200ms slide-top 400ms forwards;
    animation: fadeIn ease 3s, 200ms slide-top 400ms forwards;
    transform: translateY(100%);
}
.plat4 {
    z-index: 1;
    font-size: 1em;
    -webkit-animation: fadeIn ease 4s, 200ms slide-top 600ms forwards;
    animation: fadeIn ease 4s, 200ms slide-top 600ms forwards;
    transform: translateY(100%);
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slide-top {
    to {
        transform: translateY(50px);
    }
}

@keyframes slide-top {
    to {
        transform: translateY(0);
    }
}

/* validation d'un plat */ 

.menu:hover .icone {
    margin-right: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.menu:hover i {
    transform: rotate(360deg);
    transition-duration: 0.5s;
}
.description {
    width: 100%;
    display: flex;
  max-width: 100%;
  overflow: hidden;
}
.texte {
    width: 100%;
    margin-left: 20px;
  max-width: 100%;
  overflow: hidden;
  padding: 0;
}
.price {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-right: 1rem;
  max-width: 100%;
  font-weight: 900;
  margin-bottom: 10px;
}

.icone {
	 width: 7rem;
	 background: #99e2d0;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 margin-right: -7rem;
	 transition-duration: 0.5s;
	 transition-timing-function: ease;
}
.icone > i {
	 color: #99e2d0;
	 padding: 0.5rem;
	 border-radius: 50%;
	 background: white;
	 transition-duration: 0.5s;
}

.texte > *{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  margin: 20px 0 10px 0;
  font-size: 1em;
}
 



