.btn {
	border-radius: 35px;
	border-style: none;
	background: linear-gradient(to bottom right, #ff79da, #9356dc);
	font-size: 1em;
	color: white;
	font-weight: bold;
	height: 50px;
	padding: 0 4% 0 4%;
	box-shadow: 3px 3px 20px #aaa;
	cursor: pointer;
}