.btn {
	border-radius: 35px;
	border-style: none;
	background: linear-gradient(to bottom right, $color-secondary, $color-primary);
	font-size: 1em;
	color: white;
	font-weight: bold;
	height: 50px;
	padding: 0 20px 0 20px;
	box-shadow: 3px 3px 20px #aaa;
	cursor: pointer;
}