/* rectangle nouveauté */ 

.nouveaute  {
    background-color: #99e2d0;
    color: #139273;
    width: 80px;
    height: 30px;
    position: relative;
    left: 320px;
    bottom: 250px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}
