/* localisation */

.localisation {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: rgba(234, 234, 234);
	height: 50px;
	width: 100%;
	i {
		color: rgba(76, 76, 76);
	}
	h3 {
		margin: 20px;
	}
}

/* navigation */

nav {
	background-color: rgba(246, 246, 246);
	display: flex;
	flex-direction: column;
	align-items: center;
	h2 {
		margin: 44px 0 27px 0;
		padding: 0 10% 0 10%;
		font-size: 1.5em;
		text-align: center;
		font-weight: 900;
	}
	p {
		margin: 0 0 34px 0;
		padding: 0 5% 0 5%;
		font-size: 1.2em;
		text-align: center;
	}
}

.btnexplorer {
	font-family: "Roboto", sans-serif;
	display: flex;
	align-items: center;
}
/* section fonctionnement */

#fonctionnementsite {
	background: white;
	padding: 20px;
}

.textfonctionnement1 {
	margin-left: 3%;
}

.fonctionnementdetails {
	width: 100%;
}

.fonctionnement {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 6% 6% 6%;
	padding: 2% 5% 2% 5%;
	background-color: rgba(246, 246, 246);
	border-radius: 25px;
	box-shadow: 3px 3px 10px lightgrey;
	font-weight: bold;
}

#fonctionnementsite .fonctionnement:hover i {
	color: #9356dc;
}

#fonctionnementsite i {
	padding: 0 25px 0 10px;
	color: rgba(76, 76, 76);
}

.fonctionnement:hover {
	background-color: #f5edff;
}

.cerleetape {
	position: absolute;
	left: 7%;
	color: white;
	background-color: #9356dc;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	text-align: center;
	font-size: 0.8em;
}

/* liste des restaurants */

#restaurants {
	background-color: rgba(246, 246, 246);
	margin: 0;
	padding: 20px;

	h5 {
		font-size: 1em;
		color: black;
		margin: 10px 0 10px 14px;
	}
	p {
		font-size: 0.9em;
		color: black;
		margin: 0 0 10px 14px;
	}
	img {
		width: 100%;
		height: 175px;
		object-fit: cover;
		border-radius: 15px 15px 0 0;
	}
	a {
		color: black;
		box-shadow: 3px 3px 20px #aaa;
		border-radius: 15px 15px 15px 15px;
		position: relative;
	}
	.restaurantname {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.restaurantfav {
		display: flex;
		align-items: center;
	}
	.fa-heart {
		font-size: 2em;
	}
}
