img {
	width: 100%;
	height: 260px;
	object-fit: cover;
}

#carte-alafrancaise {
	background-color: rgba(246, 246, 246);
	border-radius: 30px 30px 0 0;
	width: 100%;
	margin-top: -4rem;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.titlerestaurant {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 650px;
	}
	.listeplats {
		width: 100%;
		max-width: 650px;
		.carte {
			padding: 20px;
		}
	}
	.restaurantfav {
		display: flex;
		align-items: center;
		padding-right: 20px;
	}
	h1 {
		padding-left: 20px;
	}
	.fa-heart {
		font-size: 1.35em;
	}
	h2 {
		position: relative;
		font-size: 1em;
		margin-bottom: 20px;
		&::after {
			content: "";
			background-color: $color-tertiary;
			position: absolute;
			width: 40px;
			left: 0;
			bottom: -7px;
			height: 3px;
		}
	}

	.menu {
		margin: 0;
		background-color: white;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		box-shadow: 3px 3px 20px #aaa;
		padding: 20px;
		margin-bottom: 20px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		div {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			p {
				max-width: 100%;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				font-size: 0.9em;
				margin: 0;
			}
		}
		h3 {
			font-size: 1em;
			margin: 0;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		.price {
			display: flex;
			align-items: flex-end;
			p {
				padding-right: 20px;
				font-weight: bold;
				text-overflow: unset;
			}
		}

		.btncommander {
			margin: 30px 0 80px 0;
			font-family: "Roboto", sans-serif;
			display: flex;
			align-items: center;
		}
	}
}
